
<center>
    <div class="preloader" style="background-color:steelblue; height:100vh;">
        <img src="/images/preloader.svg" alt="" srcset="" height="15%" width="15%" style="margin-top: 32vh; margin-bottom:9vh;">
        <div class="progress" style="width:40%; background-color:#fff">
            <div class="indeterminate" style="background-color:mediumspringgreen"></div>
        </div>
    </div>
</center>